<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18729593004-39389287po09q5te4ass2idq1r923pjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18729593004-39389287po09q5te4ass2idq1r923pjb</string>
	<key>API_KEY</key>
	<string>AIzaSyA7PUIBUBkP3cWtnfIEM6pzVkwuhlkr9WA</string>
	<key>GCM_SENDER_ID</key>
	<string>18729593004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yutaokuma.CustomLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-5cb05</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-5cb05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18729593004:ios:90146a11651ff7c33e1709</string>
</dict>
</plist>